@model IEnumerable<WholesaleStore.Storage>

<h2>Storage</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.ZipCode),
                @Html.DisplayFor(modelItem => item.Address.City.Region.Country.Name),
                @Html.DisplayFor(modelItem => item.Address.City.Region.Name),
                @Html.DisplayFor(modelItem => item.Address.City.Name),
                @Html.DisplayFor(modelItem => item.Address.Address1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                <a class="my-delete" name="@item.Id" style="cursor:pointer;">Delete</a>
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script type="text/javascript">
        $(".my-delete").on('click', function () {
            $.ajax({
                async: true,
                data: { id: this.name },
                type: "POST",
                url: '/Storage/Delete',
                success: function (isSuccess) {
                    if (isSuccess) {
                        window.location.reload();
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        });
    </script>
}