@using WholesaleStore.Common.Enums
@using WholesaleStore.Utils
@model IEnumerable<WholesaleStore.Supply>

<h2>Shipment</h2>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-toggle="collapse" data-target="#@(item.Id)" aria-expanded="false" aria-controls="@item.Id">
            <td>
                @item.Number
            </td>
            <td>
                @item.Employee.FirstName
                @item.Employee.LastName
            </td>
            <td>
                @item.Supplier.CompanyName
            </td>
            <td>
                @(((SupplyStatus)item.Status).GetDescription())
            </td>
            <td>
                @item.Date
            </td>
            <td>
                @if ((SupplyStatus)item.Status != SupplyStatus.Delivered)
                {
                    @Html.ActionLink("Shipment", "EditShipment", new { id = item.Id })
                }
                @if ((SupplyStatus)item.Status == SupplyStatus.Delivering)
                {
                    <span> | <a class="my-close" name="@item.Id" style="cursor:pointer;">Close</a></span>
                }
            </td>
        </tr>
        <tr id="@item.Id" class="collapse">
            <td colspan="8">
                <table class="table borderless">
                    <tr>
                        <th>
                            Product
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            Storage Number
                        </th>
                    </tr>

                    @foreach (var supplyContent in item.SupplyContents)
                    {
                        <tr>
                            <td>
                                @supplyContent.Product.Name
                            </td>
                            <td>
                                @supplyContent.Count
                            </td>
                            <td>
                                @(supplyContent.SupplyShipments.FirstOrDefault()?.ProductsInStorage.Storage.Number)
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script type="text/javascript">
        $(".my-close").on('click', function () {
            $.ajax({
                async: true,
                data: { id: this.name },
                type: "POST",
                url: '/SupplyManager/CloseShipment',
                success: function (isSuccess) {
                    if (isSuccess) {
                        window.location.reload();
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        });
        $('tr td:last-child').click(function (e) {
            e.stopPropagation();
        });
    </script>
}