@model IEnumerable<WholesaleStore.SupplyShipment>

<h2>Supply Shipment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th>
            Products In Storage
        </th>
        <th>
            Supply Content
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductsInStorage.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplyContent.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                <a class="my-delete" name="@item.Id" style="cursor:pointer;">Delete</a>
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script type="text/javascript">
        $(".my-delete").on('click', function () {
            $.ajax({
                async: true,
                data: { id: this.name },
                type: "POST",
                url: '/SupplyShipment/Delete',
                success: function (isSuccess) {
                    if (isSuccess) {
                        window.location.reload();
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        });
    </script>
}