<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Wholesale Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Tables<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Brands", "Index", "Brand")</li>
                            <li>@Html.ActionLink("Cities", "Index", "City")</li>
                            <li>@Html.ActionLink("Clients", "Index", "Client")</li>
                            <li>@Html.ActionLink("Countries", "Index", "Country")</li>
                            <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
                            <li>@Html.ActionLink("Orders", "Index", "Order")</li>
                            <li>@Html.ActionLink("Order Contents", "Index", "OrderContent")</li>
                            <li>@Html.ActionLink("Order Deliveries", "Index", "OrderDelivery")</li>
                            <li>@Html.ActionLink("Order Shipments", "Index", "OrderShipment")</li>
                            <li>@Html.ActionLink("Positions", "Index", "Position")</li>
                            <li>@Html.ActionLink("Products", "Index", "Product")</li>
                            <li>@Html.ActionLink("Products In Storages", "Index", "ProductsInStorage")</li>
                            <li>@Html.ActionLink("Product Types", "Index", "ProductType")</li>
                            <li>@Html.ActionLink("Regions", "Index", "Region")</li>
                            <li>@Html.ActionLink("Storages", "Index", "Storage")</li>
                            <li>@Html.ActionLink("Suppliers", "Index", "Supplier")</li>
                            <li>@Html.ActionLink("Supplies", "Index", "Supply")</li>
                            <li>@Html.ActionLink("Supply Contents", "Index", "SupplyContent")</li>
                            <li>@Html.ActionLink("Supply Shipments", "Index", "SupplyShipment")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Wholesale Store</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
